// $main: #6d1ed2;
// $main-dark: #330065;
// $black-1: #0a0a1b;
// $black-2: #131313;
// $white: #fff;
// $white-1: rgba(
//   $color: #fff,
//   $alpha: 0.3,
// );
// $gray: #f1f1f1;
// $gray-1: #9f9f9f;
// $gray-2: #f2f3f5;
$font-main: "Poppins", sans-serif;
$font-open: "Open Sans", sans-serif;
$font-sarabun: "Sarabun", sans-serif;
$main: #635bff;
$mainBlue: #077fd6;
$black: #00204c;
$white: #fff;
$bg: #ebf3ff;
