.bell {
  &__btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    &.off {
      &::before {
        background: #ff1b1b;
        border: 1.5px solid #00204c;
      }
    }
    &.on {
      &::before {
        background: #37ce56;
        border: 1.5px solid #00204c;
      }
    }
    &::before {
      position: absolute;
      border-radius: 50px;
      content: "";
      top: 0;
      right: 0;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
