h1 {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}
.button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 30px;
  font-family: $font-open;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  @include transition;
  &:hover {
    opacity: 0.8;
  }
  &.primary {
    color: #f4f4f7;
    background: $main;
  }
}
.ldspinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  @include transform;

  & div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 10px;
    background: $main;
    animation: ldspinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  & div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  & div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  & div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
}

@keyframes ldspinner {
  0% {
    top: 6px;
    height: 44px;
  }
  50%,
  100% {
    top: 18px;
    height: 24px;
  }
}
