@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Light.ttf");
  src: url("../asset/Poppins/Poppins-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

.auto__container {
  padding-bottom: 20px;
}

input[type="range"] {
  @apply bg-gray-100;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #6366f1),
    color-stop(100%, #6366f1)
  );
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply w-full rounded-full cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply w-4 h-4 bg-indigo-500 rounded-full cursor-pointer appearance-none hover:ring hover:ring-indigo-500/30;
}
