@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Light.ttf");
  src: url("../asset/Poppins/Poppins-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  color: $black;
  line-height: 1.7em;
  font-weight: 400;
  background: #ebf3ff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}


/*  h tags  */
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.auto__container {
  padding-bottom: 20px;
}

input[type="range"] {
  @apply bg-gray-100;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #6366f1),
    color-stop(100%, #6366f1)
  );
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply w-full rounded-full cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply w-4 h-4 bg-indigo-500 rounded-full cursor-pointer appearance-none hover:ring hover:ring-indigo-500/30;
}

.crop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    align-items: center;
}

.slider {
    padding: 22px 0px;
}

.zoom-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: #3f51b5;
    width: 100%;
}

.zoom-range::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    border-radius: 50%;
}

.controls:hover input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

/*  Avoid making two toolbars in Quill - !the other solution -> next.config.js - we need to change the strict mode into false  */
.quill > .ql-toolbar:first-child {
    display: none !important;
}

.quill > .ql-container {
    min-height: 100px;
}

/* carousel arrow z-index */
.react-multiple-carousel__arrow {
    z-index: 20 !important;
}

/*  react dropdown tree  */
.react-dropdown-tree-select {
  @apply h-fit
}

.dropdown {
  @apply w-full justify-center
}

.dropdown-trigger {
  @apply !flex items-center !px-3 w-full !border-0 bg-gray-100 rounded-lg
}

.tag-list {
  @apply !block w-full overflow-x-hidden
}

.tag-item {
  @apply !inline-flex
}

.tag {
  @apply !flex items-center gap-2 !border-none !px-4 !py-2 !rounded-full !bg-gray-200 text-gray-500 leading-none
}

.tag-remove {
  @apply !text-base -mt-[0.5px]
}

.search {
  @apply !flex items-center !px-4 !py-2.5
}

.dropdown-trigger.arrow.bottom:after {

}

.dropdown-content {
  @apply !w-full mt-1 !shadow-md !p-4 !rounded-md
}

.node {
  @apply !mb-1
}

.node.tree[aria-level="1"] {
  @apply !pl-2
}

.node.tree {
  @apply cursor-pointer !py-2 rounded-md hover:bg-gray-100 transition
}

.node.leaf {
  @apply cursor-pointer !py-2 rounded-md hover:bg-gray-100 transition
}

.checkbox-item {
  @apply w-5 h-5 cursor-pointer
}

/*  Rich editor  */
.quill {
  @apply grow flex flex-col
}

.ql-toolbar {
  @apply !flex bg-gray-100 !border-none !rounded-t-0.5xl
}

.ql-container {
  @apply grow flex flex-col bg-gray-100 !border-none !rounded-b-0.5xl
}

.ql-editor {
  @apply grow
}